<footer class="site-footer">
  <div class="wrapper">
  <h2 class="footer-heading"><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h2>
      <p>{{- site.description | escape -}}</p>
      <ul class="contact-list">
      <li>{{ site.author | escape }}</li>
      <li>E–Mail: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li>GitHub: <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">{{ site.github_username| escape }}</a></li>
      <li>Website: <a href="https://gwpachlatko.github.io/">gwpachlatko.github.io/</a></li>
    </ul>



  </div><!-- wrapper -->
</footer>
