<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <h1><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>

    {%- if page_paths -%}
      <nav class="navigation">
        <button class="opennav" id="navToggle" aria-label="Navigation öffnen" onclick="openNav()"><span class="material-icons">menu</span></button>
        <div id="sideNav" class="sidenav">
          <button class="closenav" aria-label="Navigation schließen" onclick="closeNav()"><span class="material-icons">close</span></button>
          <ul class="navbar">
            <li><a class="page-link" href="#content" onclick="closeNav()">Navigation überspringen</a></li>
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li><a class="page-link" href="{{ my_page.url | relative_url }}#content" onclick="closeNav()">{{ my_page.title | escape }}</a></li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div><!-- /sideNav -->
      </nav>
    {%- endif -%}
  </div>
</header>
