<header class="site-header">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <h1><a aria-label="Startseite" class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>

  {%- if page_paths -%}
    <nav class="navigation" aria-label="Unterseiten">
      <ul>
      <li class="toggle"><a href="#" aria-expanded="true" aria-haspopup="true"><span class="material-icons">menu</span></a>
        <ul role="menu" class="dropdown">
          <li role="none"><a role="menuitem" class="page-link" href="#content">Navigation überspringen</a></li>
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li role="none"><a role="menuitem" class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
        </li>
        </ul>
      </nav>

    <nav class="contact-list" aria-label="Kontaktmöglichkeiten">
      <ul>
      <li class="toggle2"><a href="#" aria-expanded="true" aria-haspopup="true"><span class="material-icons">list</span></a>
        <ul role="menu" class="dropdown">
        <li role="none"><a role="menuitem" title="Relevante Informationen für Ihren Feed Reader im XML–Format" href="{{ 'rss.xml' | relative_url }}"><svg class="icon icon-rss2"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#icon-rss2"></use></svg></a></li>
        <li role="none"><a role="menuitem" title="Seitenübersicht dieser Website im XML–Format" href="{{ 'sitemap.xml' | relative_url }}"><svg class="icon icon-map"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#icon-map"></use></svg></a></li>
        <li role="none"><a role="menuitem" title="Meine persönliche Startseite" href="https://gwpachlatko.github.io/"><svg class="icon icon-home3"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#icon-home3"></use></svg></a></li>
        <li role="none"><a role="menuitem" title="Senden Sie mir eine E–Mail" href="mailto:{{ site.email }}"><svg class="icon icon-mail"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#icon-mail"></use></svg></a></li>
        <li role="none"><a role="menuitem" title="Mein GitHub Profil" href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="icon icon-github"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#icon-github"></use></svg></a></li>
        <li role="none"><a role="menuitem" title="Mein LinkedIn Profil" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><svg class="icon icon-linkedin"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#icon-linkedin"></use></svg></a></li>
        </ul>
      </li>
      </ul>
    </nav>
    {%- endif -%}
</header>
