---
# Only the main Sass file needs front matter (the dashes are enough)
---
/* gesonderte Anweisungen für Artikel über Typografie */
.page-content p a.text{color:#000;border-bottom:none;font-style:italic;}
.page-content p a.navy{color:#009;border-bottom:none;text-decoration:underline;}
.page-content p a.black{color:#000;border-bottom:none;text-decoration:underline;}
.page-content p a.blackbb{color:#000;border-bottom:1px #000 solid;text-decoration:none;}
.page-content p a.blackbb2{color:#000;border-bottom:2px #000 solid;text-decoration:none;}
.page-content p a.simbg{color:#eee;border-bottom:none;text-decoration:underline;}
.page-content p a:focus.simbg,a:hover.simbg {color:#006;}
/* Ende Anweisungen für Artikel über Typografie*/
body { margin: 0;background: #fff;color: #000;font-family: serif;font-size: calc(1em + .5vw); }
h1,h2,h3,h4 { font-weight: 400; font-family: "Abril Fatface", serif; line-height: calc(1em + .5vw); }
h2 a:visited, a:visited, .hometag:visited { color: #111; }

img { max-width: 100%; height: auto; }
pre{font-family:monospace;font-size:1em;background:#111;color:#fff;border:3px #333 solid;border-top:24px #333 solid;overflow:auto;}
figure { margin: 1.618em auto; text-align: center; }
blockquote {width: 80%; margin: 0 auto; padding: 1em; color: #111; border: 1px solid #603; font-size: 1em; text-align: left; }
figcaption p { font-size: .809em; color: #666;}
figcaption p.person:before { content:"\2014 " }
code { color: #031; font-weight: 700; font-size: calc(.809em + .025vw); }
dd:before { content: "\02C3"; }
.wrapper { max-width: 30em; }
.post-list { list-style: none; }
.site-header { position: fixed; z-index: 2; bottom: 0; background: #603; width: 100%; height: 50px; }
.site-title, .site-title:visited { position: absolute; padding: 0 10px; bottom: 0; right: 75px; font-size: 22px; line-height: 2.3em; color: #fff; text-decoration: none; height: 50px; }
.site-title:hover {background: #301; }
.post-meta { font-size: .809em; color: #666; margin-top: 1em; padding: 0; line-height: 1.618em; }
.hometags { font-size: .809em; color: #666; margin-top: -1.618em; }
.tag-list{line-height:2.427em;margin-bottom:2em;padding:.405em auto;text-align:center;}
.tag-list a:link.tag {margin:0 4px;padding:4px 8px;background:#603;color:#fff;border-radius:5px;text-decoration:none;border:1px #603 solid;}
.tag-list a:hover.tag {color:#fff;background:#301;text-decoration:none;border:1px #301 solid;}
.tag-list a:visited.tag {color:#fff;background:#111;border:1px #111 solid;}
.toggle {position:absolute; margin: 0 auto; bottom: 0; right: 25px; width: 50px; height: 50px; text-align: center; cursor: pointer; font-size: 40px; }
.toggle2 {position:absolute; margin: 0 auto; bottom: 0; right: 294px; width: 50px; height: 50px; text-align: center; cursor: pointer; font-size: 40px; }
/*.toggle a:link, .toggle2 a:link { text-align: center; }*/
.navigation, .contact-list { font-size: 24px; line-height: 2em; }
.navigation li a:link, .navigation li a:visited, .contact-list li a:link, .contact-list li a:visited { color: #fff; text-decoration: none; }
.navigation li, .contact-list li { list-style-type: none; background: #603; }
.navigation li:hover, .contact-list li:hover { background: #301; }
.navigation ul li ul { position: absolute; visibility: hidden; opacity: 0; transition: all 1s ease; bottom: 50px; right:0; display:none; width: 8.5em; text-align: right; }
.contact-list ul li ul { position: absolute; visibility: hidden; opacity: 0; transition: all 1s ease; bottom: 50px; right:0; display:none; width: 50px; text-align: center; }
.navigation ul li ul li { padding-left: 10px; font-size: 24px; }
.contact-list ul li ul li { padding-top: 3px; font-size: 24px; line-height: 1; }
.navigation ul li:hover > ul,
.navigation ul li:focus-within > ul { visibility: visible; opacity: 1; display: block; transition:all 1s ease; padding-left: 10px; }
.contact-list ul li:hover > ul,
.contact-list ul li:focus-within > ul { visibility: visible; opacity: 1; display: block; transition:all 1s ease; padding-left: 10px; }
.page-link { padding-right: 15px; }
.container {margin: 0 auto; padding:0 auto; }
main { margin: 0 auto; }
.page-content { padding: 1.618em .809em 4.247em; max-width: 30em; line-height: 1.618em; }
.page-content a:link { color: #603; text-decoration: none; border-bottom: 2px #603 solid; }
.page-content a:hover { text-decoration: none; border-bottom: 2px #ccc solid; }
.page-content h2 { margin-bottom: 0; }
.page-content h2 .post-link { text-decoration: none; border-bottom: none; text-align: center; }
.page-content h2 .post-link:hover { color: #111; }
.page-content a[rel="external"] { color: #031; text-decoration: none; border-bottom: 2px #031 solid; }
.page-content a[rel="external"]:after { margin-left: 5px; font-family: "iconmoon"; content: "\2197"; border: 2px #031 solid; text-decoration: none; }
.page-content a[rel="external"]:hover { border-bottom: 2px #ccc solid; }
.page-content a[rel="external"]:visited { color: #666; }
.prevnext a:after { content: ""; padding-right: .405em; }
.readmore a:link, .prevnext a:link { margin: 0; padding: .203em .405em .3em; border: 1px #603 solid; border-radius: 3px;  color:#fff; background-color: #603; font-size: 20px; color: #fff; text-decoration: none; }
.readmore a:visited, .prevnext a:visited { background-color: #111; color: #fff; border: 1px #111 solid; }
.readmore a:hover, .prevnext a:hover { background-color: #111; border: 1px #111 solid; }
.readmore { margin-bottom: 2em; padding-bottom: 1em; border-bottom: 1px #eee solid; }
.icon { display: inline-block; width: 1em; height: 1em; fill: #fff; padding: 8px; }
.icon:hover { fill: #666; }
