---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
.clip {
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
body {font-family: "Alegreya", serif; font-size: 1.1em; }
.page-content { margin-top: 1em; }
figure { margin: 1.618em auto; }
blockquote {color: #111; border-left: 5px solid #eee; font-size: 1em; letter-spacing: 1px; }
figcaption { font-size: .809em; }
figcaption p.person:before { content:"\2014 " }
img { width: 100%; height: auto; }
.post-content ul li { padding-left: 25px; background: url(../images/bullet.png) left 7px no-repeat ; list-style-type: none;}
.site-title { padding-left: 30px; background: url(../images/logo.png) 0 15px no-repeat; }
h2 a:link { color: #900; font-size: 1.2em; line-height: 1em; }
h2 a:visited { color: #111; }
h4 { font-weight: 700; font-size: 20px; }
.post-meta {font-size: 19px; color: #666; }
p a:link, .site-footer a:link { color: #900; border-bottom: 2px #900 solid; }
p a:visited, .site-footer a:visited { color: #111; border-bottom: 2px #111 solid; }
p a:hover, .site-footer a:hover { text-decoration: none; border-bottom: none; }
.prevnext { margin: 3em auto; text-align: center; }
.readmore a:link, .prevnext a:link { margin: 0; padding: .203em; border: 1px #900 solid; border-radius: 3px;  color:#fff; background-color: #900; font-size: 20px; color: #fff; text-decoration: none; }
.readmore a:visited, .prevnext a:visited { background-color: #111; color: #fff; border: 1px #111 solid; }
.readmore a:hover, .prevnext a:hover { background-color: #111; border: 1px #111 solid; }
.readmore { margin-bottom: 2em; padding-bottom: 1em; border-bottom: 1px #eee solid; text-align: right; }
.site-footer { padding-bottom: 3em; }
/* gesonderte Anweisungen für Artikel über Typografie */
p a.text{color:#000;border-bottom:none;font-style:italic;}
p a.navy{color:#009;border-bottom:none;text-decoration:underline;}
p a.black{color:#000;border-bottom:none;text-decoration:underline;}
p a.blackbb{color:#000;border-bottom:1px #000 solid;text-decoration:none;}
p a.blackbb2{color:#000;border-bottom:2px #000 solid;text-decoration:none;}
p a.simbg{color:#eee;border-bottom:none;text-decoration:underline;}
p a:focus.simbg,a:hover.simbg {color:#006;}
/* Ende Anweisungen für Artikel über Typografie*/

.footer-heading a:link { font-size: 1.1em; border-bottom: none; }
.footer-heading a:hover { text-decoration: underline; }
@media screen and (min-width: 63.236em) {
body { font-size: 1.3em; }
.footer-heading { font-size: 1.1em; }
.wrapper { width: 30em; }
}
