<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "de" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" id="content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <script>
    function openNav(){document.getElementById("sideNav").style.width = "320px";}
    function closeNav(){document.getElementById("sideNav").style.width = "0";}
    </script>

  </body>

</html>
